<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarWarsCharacters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE2F44061F69A84600559113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2F60231F71819100A69CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2F60331F7183A100A69CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2F60491F718C3C00A69CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2F60571F719B9600A69CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
